.container {
    width: 90%;
    margin: 0 auto;
    padding: 16px 16px;
}

.header-title-container {
    display: flex;
    justify-content: space-between;
}
.date {
    color: #BDBDBD;
}

.header-title {
    color: #94DCDC;
}

.blog-list {
    width: 70%;
    border: 1px solid black;
    margin-bottom: 8px;
    padding: 16px 16px;
}